.container {
  width: 600px;
  height: 800px;
  margin: 200px auto;
}


Input {
  display: block;
  width: 100%;
  height: 160px;
  border: 1px solid #eee;
  padding-left: 20px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

Input:first-child {
  border-bottom: none;
}

.password {
  margin-top: 50px;
}

.btn-login {
  margin-top: 100px;
}
